
.product-listing h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
  text-align: center; /* وسط العنوان */
  border-bottom: 1px solid #ddd; /* خط سفلي أنيق */
  padding-bottom: 10px;
  text-transform: uppercase; /* تحويل الأحرف إلى كابيتال */
  letter-spacing: 1px;
}


.product-card2 {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: var(--shadow);
  transition: var(--transition);
  position: relative;
  display: flex;
  flex-direction: column;
}

.product-card2:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card-divider {
  height: 1px;
  background-color: #e0e0e0;
  margin: 10px 15px 0 15px; /* مسافة من الجوانب ومن الأعلى */
}

.product-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #FF0555;
  color: white;
  padding: 0.3rem 0.7rem;
  border-radius: 4px;
  font-size: 0.8rem;
  z-index: 1;
}

.product-badge.sale {
  background-color: #004eff;
}

.product-card2 img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.product-info2 {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.product-info2 h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.product-rating {
  color: #f39c12 ;
  margin-bottom: 0.5rem;
}

.product-rating span {
  color: #777;
  margin-right: 0.3rem;
  font-size: 0.9rem;
}

.product-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--dark-color);
  margin-bottom: 0.8rem;
  text-align: center;
}

.old-price {
  text-decoration: line-through;
  color: #777;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.product-actions2 {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  margin-top: auto;
  
}

.product-actions2 .btn {
  flex: 1;
  text-align: center;
  font-size: 0.9rem;
  padding: 0.5rem;
  display: inline-block;
  
}


